@{
  Layout = "_Layout";
}

@using PierresTreats.Models;
@model IEnumerable<PierresTreats.Models.Treat>

<h1>Treats for @User.Identity.Name</h1>

@if (Model.Any())
{
  @using (Html.BeginForm())
  {
    <p>
        Find by name: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" />
    </p>
  }

    @foreach (Treat treat in Model)
    {
      <p>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</p>
    }
} 
else
{
  <h3>No treats have been added yet!</h3>
}

<p>@Html.ActionLink("Add new order", "Create", "Orders")</p>

<p>@Html.ActionLink("Add new treat", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>