@using PierresTreats.ViewModels

@model RegisterViewModel


@{
    ViewData["Title"] = "Register";
    var roles = (List<Microsoft.AspNetCore.Identity.IdentityRole>)ViewData["roles"];
}

<h1>@ViewData["Title"]</h1>
<h2>Register a new user</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user=> user.Email)

    @Html.LabelFor(user=> user.Password)
    @Html.PasswordFor(user=> user.Password)

    @Html.LabelFor(user=> user.ConfirmPassword)
    @Html.PasswordFor(user=> user.ConfirmPassword)

    <label for="Role">Role:</label>
    <select name="Role" id="RoleId">
      <option value="Admin">Admin</option>
      <option value="User">User</option>
    </select>

    <input type="submit" value="Register" />
}