@model PierresTreats.Models.Order

<h4>Add new Order</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.TreatName)
  @Html.TextBoxFor(model => model.TreatName)

  @Html.LabelFor(model => model.FlavorName)
  @Html.TextBoxFor(model => model.FlavorName)

  <input type="submit" value="Add new Order" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all orders", "Index")</p>